<div class="container">
    <form name="rdvForm" method="POST" (submit)="addRdvOnSubmit()">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" *ngIf="rendezvous.id == undefined">Ajouter un rendez-vous</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="rendezvous.id != undefined">Editer un rendez-vous</h5>
        </div>

        <div class="modal-body">
            <div id="rdvFields">
                <div class="mb-3">
                    <label for="patient" class="form-label">Patient</label>
                    <select name="patient" [compareWith]="compareFn" [(ngModel)]="rendezvous.patient" id="patient" class="form-select" aria-label="patient" >
                        <option *ngFor="let patient of patients"  [ngValue]="patient" >{{patient.nom}} {{patient.prenom}}</option>
                        
                    </select>
                </div>

                <div class="mb-3">
                    <label for="cp" class="form-label">Date</label>
                    <div class="row">
                        <div class="col-8">
                            <input type="datetime-local" name="date" class="form-control" required [(ngModel)]="rendezvous.date">
                        </div>
                        
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typerdv"id="flexRadioDefault1" checked value="consultation" [(ngModel)]="rendezvous.type">
                        <label class="form-check-label" for="flexRadioDefault1"> Consultation </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="typerdv" id="flexRadioDefault2" value="controle" [(ngModel)]="rendezvous.type"> 
                            <label class="form-check-label" for="flexRadioDefault2"> Contrôle </label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="cp" class="form-label">Durée</label> 
                    <input type="number" name="duree" class="form-control" placeholder="Durée" required [(ngModel)]="rendezvous.duree">

                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" name="note" placeholder="Veuillez saisir vos notes ici" id="note" style="height: 100px" [(ngModel)]="rendezvous.note"></textarea>
                        <label for="note">Note</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </form>
</div>


