
    <nav class="navbar navbar-expand-md navbar-light bg-light" *ngIf="isConnected()">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['patient']">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/rdv">Rendez-vous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['ville']">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user">Utilisateurs</a>
                </li>
            </ul>
            <div class="float-end">
                <div class="dropdown dropstart">
                    <button class="border-0 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/assets/images/profil.jpg" alt="Photo de profil" class="img-profil rounded-circle">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">Gérer mon profil</a></li>
                        <li><a class="dropdown-item"  (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>