<main class="container">
    <div *ngIf="success == true" class="alert alert-success" role="alert"> Opération réussi !!</div>
    <div *ngIf="error == true" class="alert alert-danger" role="alert"> Opération échoué !!</div>
    <h2>Liste des rendez-vous</h2>
    <button type="button" class="btn btn-primary link_toPatient" id="AddPatientModal" data-bs-toggle="modal" data-bs-target="#addPatientForm" [routerLink]="['addedit/', 0]">
        Ajouter un rendez-vous
    </button>
    
    <div class="d-flex col-5">
        <label for="patient" class="form-label">Patient</label>
                    <select name="patient"  [(ngModel)]="search" id="patient" class="form-select" aria-label="patient" >
                        <option *ngFor="let patient of patients"  [ngValue]="patient.nom" >{{patient.nom}} {{patient.prenom}}</option>
                        
                    </select>
        <button class="btn btn-outline-success" (click)="getAllRdv()">Rechercher</button>
    </div>

    <ng-template #noItem>
        <div class="alert alert-info">Aucun Rendez-vous n'a été trouvé !</div>
    </ng-template>

    <ng-container *ngIf="rendezVous else noItem">

   
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-3">Nom & prenom</th>
            <th scope="col" class="col-3"> date</th>
            <th scope="col" class="col-2">note</th>
            <th scope="col" class="col-3">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rendezvous of rendezVous">
                <th scope="row">{{rendezvous.id}}</th>
                <td>{{rendezvous.patient?.nom}} {{rendezvous.patient?.prenom}}</td>
                <td>{{rendezvous.date}}</td>
                <td>{{rendezvous.note}}</td>
                <td>
                    <button type="button" class="btn btn-primary" [routerLink]="['addedit/', rendezvous.id]">Update</button>
                    <button class="btn btn-danger suppression" id="delete" (click)="deleterdv(rendezvous.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
 </ng-container>
   
</main>

