<main class="container">
    <div class="row" id="titre_listeVille">
        <div class="col">
          <h1>Liste des villes</h1>
        </div>
        <div class="col">
          
          <button type="button" class="btn btn-primary" id="AddVilleModal" data-bs-toggle="modal" data-bs-target="#addVilleForm">
            Ajouter une ville
        </button>
        </div>
      </div>
    
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-3">Code postal </th>
          <th scope="col" class="col-4">Nom</th>
          <th scope="col" class="col-4">Action</th>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor="let ville of villes">
          <th scope="row">{{ville.id}}</th>
          <td>{{ville.codePostal}}</td>
          <td>{{ville.nom}}</td> 
           <td>
            <button (click)="editVille(ville.id)" type="button" class="btn btn-primary" id="AddVilleModal" data-bs-toggle="modal" data-bs-target="#addVilleForm">
                Update
              </button>
    
            <button class="btn btn-danger" (click)="deleteVilleOnClick(ville.id)" id="delete">
              <a>Delete</a>
            </button>
          </td>
        </tr> 
     
        </tbody>
      </table>
      <button (click)="getVilles()" class="btn btn-primary">Mettre a jour</button>


      <!-- Ajout -->
      <div class="modal fade" id="addVilleForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter une ville</h5>
              <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method="post" (submit)="addVilleOnSubmitForm()">
                <div class="col">
                  <label for="nom_ville" class="form-label">Nom de la ville :</label>
                  <input type="text" class="form-control" name="nom" id="nom_ville" [(ngModel)]="ville.nom" placeholder="Entrez votre nom de ville" aria-label="Entrez votre nom de ville">
                </div>
                <div class="col">
                  <label for="cp" class="form-label">Code postal :</label>
                  <input type="text" class="form-control" name="cp" id="cp" [(ngModel)]="ville.codePostal" placeholder="Entrez votre code postal" aria-label="Entrez votre code postal">
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-primary" id="envoyer_add_edit">Envoyer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</main>
